<div class="h-screen flex flex-col justify-center">
    <app-card>
        <div class="-translate-y-1/2"><app-title-text text="HOW TO PLAY"></app-title-text></div>
       <div class="m-auto w-fit">
        <p class="text-center inline text-2xl text-white font-light">Just press the play button</p>
        <img class=" w-10 inline m-auto" src="https://cdn.7tv.app/emote/62ac74e2260bc8642e64cf5b/4x.webp"/>
       </div>
    <div class="w-1/3 m-auto mt-5">
        <app-button-basic (click)="onReturn()">Return</app-button-basic>
    </div>
    </app-card>
</div>


